<ion-content [fullscreen]="true" class="registration-page">
  <div class="registration-container">
    <!-- Mobile View -->
    <div class="mobile-view">
      <div class="logo-section">
        <img src="/assets/logo.png" alt="Locana Logo" class="logo">
        <h1 class="app-name">LOCANA</h1>
        <h2 class="create-account">CREATE ACCOUNT</h2>
        <div class="location-icon">
          <img src="/assets/gmaps.png" alt="Location Icon" class="location-img">
        </div>
      </div>
      
      <div class="form-container">
        <div class="input-field">
          <ion-icon name="person-outline"></ion-icon>
          <ion-input placeholder="Username" type="text" [(ngModel)]="username"></ion-input>
        </div>
        
        <div class="input-field">
          <ion-icon name="mail-outline"></ion-icon>
          <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
        </div>
        
        <div class="input-field password-field">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
          <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="toggle-password" (click)="togglePasswordVisibility()"></ion-icon>
        </div>
        
        <div class="password-requirements" *ngIf="password">
          <p [ngClass]="{'valid': passwordRequirements.minLength}">Minimal 6 karakter</p>
          <p [ngClass]="{'valid': passwordRequirements.hasUpperCase}">Mengandung huruf kapital</p>
          <p [ngClass]="{'valid': passwordRequirements.hasLowerCase}">Mengandung huruf kecil</p>
          <p [ngClass]="{'valid': passwordRequirements.hasNumber}">Mengandung angka</p>
          <p [ngClass]="{'valid': passwordRequirements.hasSpecialChar}">Mengandung karakter spesial</p>
        </div>
        
        <ion-button expand="block" class="signup-btn" href="/beranda" (click)="signUp()" href="/beranda">SIGN UP</ion-button>
        
        <p class="login-text">Already have an account? <a href="/signin">Sign in</a></p>
      </div>
    </div>
    
    <!-- Desktop View -->
    <div class="desktop-view">
      <div class="left-section">
        <div class="logo-info">
          <img src="/assets/logo.png" alt="Locana Logo" class="logo">
          <h1 class="app-name">LOCANA</h1>
          <p class="app-description">Track numbers anywhere in real-time with precise location accuracy!</p>
        </div>
      </div>
      
      <div class="right-section">
        <div class="form-container">
          <h2 class="create-account">CREATE ACCOUNT</h2>
          <div class="location-icon">
            <img src="/assets/gmaps.png" alt="Location Icon" class="location-img">
          </div>
          
          <div class="input-field">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input placeholder="Username" type="text" [(ngModel)]="username"></ion-input>
          </div>
          
          <div class="input-field">
            <ion-icon name="mail-outline"></ion-icon>
            <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
          </div>
          
          <div class="input-field password-field">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
            <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="toggle-password" (click)="togglePasswordVisibility()"></ion-icon>
          </div>
          
          <div class="password-requirements" *ngIf="password">
            <p [ngClass]="{'valid': passwordRequirements.minLength}">Minimal 6 karakter</p>
            <p [ngClass]="{'valid': passwordRequirements.hasUpperCase}">Mengandung huruf kapital</p>
            <p [ngClass]="{'valid': passwordRequirements.hasLowerCase}">Mengandung huruf kecil</p>
            <p [ngClass]="{'valid': passwordRequirements.hasNumber}">Mengandung angka</p>
            <p [ngClass]="{'valid': passwordRequirements.hasSpecialChar}">Mengandung karakter spesial</p>
          </div>
          
          <ion-button expand="block" class="signup-btn" href="/beranda" (click)="signUp()">SIGN UP</ion-button>
          
          <p class="login-text">Already have an account? <a href="/tabs/tab3">Sign in</a></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>