<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container">
    <!-- Mobile View -->
    <div class="mobile-view">
      <div class="logo-section">
        <img src="/assets/logo.png" alt="Locana Logo" class="logo">
        <h1 class="app-name">LOCANA</h1>
      </div>
      
      <div class="form-container" [ngClass]="{'expanded': isExpanded}">
        <ion-button *ngIf="!isExpanded" expand="block" class="signin-btn" (click)="expandForm()">SIGN IN</ion-button>
        
        <div *ngIf="isExpanded" class="input-fields">
          <div class="input-field">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input placeholder="Username" type="text" [(ngModel)]="username"></ion-input>
          </div>
          
          <div class="input-field password-field">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
            <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="toggle-password" (click)="togglePasswordVisibility()" tabindex="0" role="button" aria-label="Toggle password visibility"></ion-icon>
          </div>
          
          <div class="password-requirements" *ngIf="password">
            <p [ngClass]="{'valid': passwordRequirements.minLength}">Minimal 6 karakter</p>
            <p [ngClass]="{'valid': passwordRequirements.hasUpperCase}">Mengandung huruf kapital</p>
            <p [ngClass]="{'valid': passwordRequirements.hasLowerCase}">Mengandung huruf kecil</p>
            <p [ngClass]="{'valid': passwordRequirements.hasNumber}">Mengandung angka</p>
            <p [ngClass]="{'valid': passwordRequirements.hasSpecialChar}">Mengandung karakter spesial</p>
          </div>
          
          <ion-button expand="block" class="signin-btn expanded-btn" (click)="signIn()">SIGN IN</ion-button>
          
          <p class="forgot-password"><a href="#">Forgot password?</a></p>
          <p class="signup-text">Don't have an account? <a href="/tabs/tab2">Sign up</a></p>
        </div>
      </div>
    </div>
    
    <!-- Desktop View -->
    <div class="desktop-view">
      <div class="logo-section">
        <img src="/assets/logo.png" alt="Locana Logo" class="logo">
        <h1 class="app-name">LOCANA</h1>
      </div>
      
      <div class="form-container" [ngClass]="{'expanded': isExpanded}">
        <ion-button *ngIf="!isExpanded" expand="block" class="signin-btn" (click)="expandForm()">SIGN IN</ion-button>
        
        <div *ngIf="isExpanded" class="input-fields">
          <div class="input-field">
            <ion-icon name="person-outline"></ion-icon>
            <ion-input placeholder="Username" type="text" [(ngModel)]="username"></ion-input>
          </div>
          
          <div class="input-field password-field">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-input placeholder="Password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password"></ion-input>
            <ion-icon [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" class="toggle-password" (click)="togglePasswordVisibility()" tabindex="0" role="button" aria-label="Toggle password visibility"></ion-icon>
          </div>
          
          <div class="password-requirements" *ngIf="password">
            <p [ngClass]="{'valid': passwordRequirements.minLength}">Minimal 6 karakter</p>
            <p [ngClass]="{'valid': passwordRequirements.hasUpperCase}">Mengandung huruf kapital</p>
            <p [ngClass]="{'valid': passwordRequirements.hasLowerCase}">Mengandung huruf kecil</p>
            <p [ngClass]="{'valid': passwordRequirements.hasNumber}">Mengandung angka</p>
            <p [ngClass]="{'valid': passwordRequirements.hasSpecialChar}">Mengandung karakter spesial</p>
          </div>
          
          <ion-button expand="block" class="signin-btn expanded-btn" (click)="signIn()">SIGN IN</ion-button>
          
          <p class="forgot-password"><a href="#">Forgot password?</a></p>
          <p class="signup-text">Don't have an account? <a href="/tabs/tab2">Sign up</a></p>
        </div>
      </div>
    </div>
  </div>
</ion-content>